@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&display=swap');

body{font-family: "Nunito Sans" , sans-serif;}
a{text-decoration: none !important; color: #fff;}
a:hover{color: #393939;}

.btn-mor{background-color: #2c1320; color: #fff;}
.btn-mor:hover{background-color: #56667a; color: #fff;}

.btn-acik{background-color: #56667a; color: #fff;}
.btn-acik:hover{background-color: #2c1320; color: #fff;}

.bg-mor{background-color: #2c1320;}
.bgMor{background-color: #5f4b66;}

.bannerSet{background-color: #a7adc6;padding:50px 0px;text-align: center;color: #2c1320;}

.ctaSet{background-color:#a7adc6 ;padding: 20px 0px;}

#info a{color:#56667a;}
#info a:hover{color:black ;}

.link2 {color:#56667a;}
.link2:hover{color: #2c1320;}

#blogList h2{font-size: 20px;}

#sosyalFooter a{color: #a7adc6;}
#sosyalFooter a:hover{color: #2c1320;}

#blogList a, #aside2 a{color: #56667a;}
#blogList a:hover, #aside2 a:hover{color: #2c1320;}

.link2{color:#56667a ;}
.link2:hover{color: #2c1320;}

#footer a{margin: 0px 0px 0px 10px;}
#footer h6{color: #a7adc6;}

@media (max-width:768px){
    .box{margin: 20px 0px;}
    .box2{margin: 0px 0px 20px 0px;}
    #footer .col-md-4 {text-align: center;}
    #cta h1{font-size: 32px;} 
    #randevuAl h2{font-size: 1.3rem}
}    

@media(min-width:769px){
    .box{margin: 20px 0px;}
    .box2{margin: 0px 0px 20px 0px;}
}